body {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
    text-align: center;
    padding: '96px';
    font-family: '-apple-system, Roboto, sans-serif, serif';
}

code {
    color: #8a6534;
    padding: 4;
    background-color: #fff4db;
    font-size: '1.25rem';
    border-radius: 4;
}

nav > ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
}
nav > ul > li {
    padding: 0px 20px;
}

nav > ul > li > a {
    color: r;
}

a {
    color: #1688f0;
}
